<div class="list-group">
  <% @posts.each do |post| %>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <a href="<%= blog_path(post) %>">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= post.title %></h5>
        </div>
      </a>
      <small><%= time_ago_in_words(post.created_at) %></small>
    </div>
  <% end %>
</div>

<%= paginate @posts %>

