<ul class="qpad-post-list">
  <% if @posts.count  == 0 %>
  <li class="qpad-post-list-item">Sorry!, no results found</li>
  <% end %>

  <% @posts.each do |post| %>
    <li class="qpad-post-list-item">
      <a href="<%= blog_path(post) %>">
        <div class="qpad-post-title"><%= post.title %></div>
        <div class="qpad-post-date"><%= time_ago_in_words(post.created_at) %> ago</div>
      </a>
    </li>
  <% end %>
</ul>

<div class="qpad-pagination">
  <%= paginate @posts %>
</div>

