<div class="qpad-post-header">
  <%= @post.title.present? ? @post.title : 'Untitled' %>
  <div class="pull-right">
    <%= link_to "Back", blogs_path, class: "btn" %>
  </div>
</div>

<% if @post.content.present? %>
  <div class="qpad-post-body">
    <%= render_markdown @post.content %>
  </div>
<% else %>
  <div class="qpad-post-body">
    <%= @post.body %>
  </div>
<% end %>