<div class="qpad-post-header">
  <%= @post.title %>
  <div class="pull-right">
    <%= link_to "Back", blogs_path, class: "btn" %>
  </div>
</div>

<div class="qpad-post-body">
  <%= render_markdown @post.content %>
</div>
