$bg-color: #f2f2f2;
$text-color: #178197;
$code-color: #18b518;
$font-family: Helvetica, Arial, sans-serif;
$default-padding: 5px;
$default-margin: 5px;
$default-border-radius: 5px;
$default-font-size: 16px;

body {
    width: 100%;
    background-color: $bg-color;
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

.qpad-body {
    width: 70%;
    margin: 0 auto;
    padding: 0;

    .container {
        padding: $default-padding;
        background-color: #ffffff;
        margin: $default-margin 0;
        border-radius: $default-border-radius;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .qpad-navbar {
        font-family: $font-family;
        overflow: hidden;

        .nav {
            padding: $default-padding;

            .brand {
                max-width: 400px;
                margin: $default-margin;
                a {
                    font-size: $default-font-size;
                    font-weight: bold;
                    text-decoration: none;
                    color: $text-color;
                    cursor: pointer;
                    text-transform: capitalize;
                }
            }

            ul.nav-links {
                list-style: none;
                float: right;
                position: relative;
                top: -27px;
                margin: 0;

                li {
                    display: inline-block;
                    margin: 0 $default-margin;
                    a {
                        font-size: $default-font-size;
                        text-decoration: none;
                        color: $text-color;
                        text-align: center;
                        text-transform: capitalize;
                        &:hover {
                            cursor: pointer;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }

        .navbar-search {
            margin: 30px 0;
            overflow: hidden;
            min-height: 10px;
            width: 100%;
            text-align: center;
            input {
                width: 60%;
                display: inline-block;
                padding: 7px;
                border-style: solid;
                border-width: 1px;
                border-color: #f2f2f2;
                text-decoration: none;
                font-size: 14px;
                color: #7f7f7f;
                &:hover {
                    color: #202020;
                    border-color: $text-color;
                }
            }

            button {
                display: inline-block;
                max-width: 10%;
                min-width: 100px;
                padding: 7px;
                border-style: solid;
                border-width: 1px;
                border-color: #f2f2f2;
                text-decoration: none;
                font-size: 14px;
                color: $text-color;
                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                    border-color: $text-color;
                }
            }
        }
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-family: Helvetica, Arial, sans-serif;

    p {
        color: #7f7f7f;
        padding: 0;
        font-size: 14px;

        a {
            color: $text-color;
            &:hover {
                cursor: pointer;
                opacity: 0.8;
                text-decoration: none;
            }
        }
    }
}



.qpad-post-list {
    list-style: none;

    .qpad-post-list-item {
        margin: 28px 0;
        color: #666;
        a {
            text-decoration: none;
            font-size: 30px;

            %qpad-post-heading {
                color: #666;
                padding: 0 0 7px 0;
                font-family: 'Times New Roman', Times, serif;
                &:hover {
                    color: #202020;
                }
            }

            .qpad-post-title {
                @extend %qpad-post-heading;
            }

            .qpad-post-bookmark {
                @extend %qpad-post-heading;
            }

            .qpad-post-date {
                font-size: 14px;
                color: #666;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-style: italic;
            }
        }

    }
}

.qpad-pagination {
    overflow: hidden;
    ul {
        list-style: none;
        float: left;
        li {
            display: inline-block;
            margin: 0 14px 0 0;
            a {
                color: $text-color;
                font-family: Arial;
                &:hover {
                  position: cursor;
                  opacity: 0.8;
                  text-decoration: none;
                }
            }
        }
    }
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.btn {
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 7px;
    border-style: solid;
    border-width: 1px;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    text-decoration: none;
    font-size: 14px;
    color: $text-color;
    font-family: Arial, Helvetica, sans-serif;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
        border-color: $text-color;
    }
}

.qpad-post-header {
    overflow: hidden;
    font-size: 32px;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.qpad-post-body {
    margin: 30px;
    p {
        font-size: 20px;
        color: #404040;
        font-family: Helvetica;
        margin: 25px 0;
        line-height: 1.5;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #404040;
        font-weight: bold;
        margin: 30px 0;
    }
}

code {
    background-color: #212121;;
    color: $code-color;
    padding: 10px;
    display: block;
    margin: 14px 0;
}