@import "bootstrap/scss/bootstrap.scss";
@import '@fortawesome/fontawesome-free';
@import "simplemde/dist/simplemde.min.css";
@import "trix/dist/trix.css";
@import "actiontext.scss";

$border-light: #ced4da;

.post-title {
  border: none;
}

.qpad-text-edit {
  trix-editor {
    border: solid 1px $border-light;
  }
}

.trix-content {
  div {
    text-align: justify;
  }
}